html,
body {
  background-color: #1e272e !important;
  padding: 0 !important;
  margin: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* .slick-prev:before{
  color: #485460 !important;
  outline: "1px solid red" !important;
}
.slick-next:before{
  color: #485460 !important;
  outline: "1px solid red" !important;
} */

/* .slick-list{
  background-color: red !important;
  width: 100% !important;
  position: absolute !important;

} */
